.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  padding: 2%;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 1%;
  font-style: bold;
  cursor: pointer;
}

.result {
  padding: 2%;
}
